<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd https://jakarta.ee/xml/ns/jakartaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.4">
<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>com.techouts.LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RegisterServlet</servlet-name>
<servlet-class>com.techouts.RegisterServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RegisterServlet</servlet-name>
<url-pattern>/Register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RoughServlet</servlet-name>
<servlet-class>com.techouts.RoughServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RoughServlet</servlet-name>
<url-pattern>/rough</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>AnotherRoughServlet</servlet-name>
<servlet-class>com.techouts.AnotherRoughServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AnotherRoughServlet</servlet-name>
<url-pattern>/roughServlet</url-pattern>
</servlet-mapping>

<resource-ref>
<res-ref-name>jdbc/mydb</res-ref-name>
<res-type>javax.sql.DataSource</res-type>
<res-auth>Container</res-auth>

</resource-ref>

<!-- <filter>
<filter-name>LoginFilter</filter-name>
<filter-class>com.techouts.AutoFilter</filter-class>
</filter>

<filter-mapping>
<filter-name>LoginFilter</filter-name>
<url-pattern></url-pattern>
</filter-mapping>-->

</web-app>