@charset "UTF-8";
body {
	background : #2F8D46;
	display: flex;
	justify-content: center;
	flex-direction : column;
	align-items : center;
	min-height : 100vh;
}
.input {
	width : 350px;
	height : 50px;

	display : flex;
	justify-content : center;
	font-style : Arial, sans-serif;
}
.input .user {
	width : 300px;
	height : 40px;
}
.input .button {
	width : 100px;
	height : 45px;

}
container {
	width : 700px;
	border : 1px solid red;
}

table,th,tr,td {
	border : 1px solid white;
	font-family: Arial, sans-serif;
	
}
th  {
	font-weight : bold;
	color : white;
}
tr {
	height : 50px;
}
td {
	width : 200px;
	
}